.manager
.settings
bin
*.class
*~
.metadata/
.scala_dependencies
jcpp.log*
macroDebug.txt
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
debugsource.txt
tokenstream.txt
*.pi
*.i
*.pi.ast
*.o
*.err
*.stats
*.time
*.dbg
*.diffs
.idea
