.manager
.settings
bin
*.class
*.orig
*~
.metadata/
.scala_dependencies
jcpp.log*
macroDebug.txt
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
debugsource.txt
tokenstream.txt
*.log
*.dbg
*.i
*.pi.ast
*.o
*.err
*.stats
*.time
*.dbg
*.diffs
*.macroDbg
*.dbgSrc
*.interface
*.dbginterface
.idea
linux-2.6.33.3
busybox
find.pi
fork.pi
sparse
systems
.history
.idea_modules
KiamaExp
TypeChef.iml
RemoteSystemsTempFiles
vim73
superc
*.csv
linux-2.6.33.3-old
typechef.sh
TypeChef-*.jar
casestudies
pages
